In [4]:
import pandas as pd

We will use the American Community Survey 2021 dataset available from census.gov for our example data analysis. The data is available via API from here: https://www.census.gov/data/developers/data-sets/acs-1year.html

In [19]:
url="https://api.census.gov/data/2021/acs/acs1?get=NAME,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E&for=congressional%20district:*&in=state:*"
df=pd.read_json(url)

The description of columns can be found here: https://api.census.gov/data/2021/acs/acs1/variables.html. Let's take a look at what columns were pulled down in our data.

In [20]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,NAME,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E,state,congressional district
1,"Congressional District 10 (116th Congress), Mi...",289474,14153,8574,9605,10319,10870,11707,10783,13658,12482,22164,31054,40352,28842,22277,23244,19390,26,10
2,"Congressional District 4 (116th Congress), Mis...",299804,23793,16264,14008,15316,20125,14790,13814,16133,10919,23078,28276,38467,27735,13785,12402,10899,28,04
3,"Congressional District 14 (116th Congress), Mi...",278057,27728,14359,12752,13289,13759,12459,14673,12675,9952,21018,23043,29275,20611,12951,19939,19574,26,14
4,"Congressional District 1 (116th Congress), Mic...",306685,19036,14152,13144,13468,14771,15786,14240,15052,12376,28108,33589,43639,28864,14715,13537,12208,26,01

In [21]:
df = df.tail(-1)

Let's rename these columns based on the descriptions from the census so they are more human readable.

In [23]:
cols = ['District Name','Total Households','Less than $10k', '$10k to $15k', '$15k to $20k', '$20k to $25k', '$25k to $30k', '$30k to $35k', '$35k to $40k', '$40k to $45k', '$45k to $50k', '$50k to 60k', '$60k to $75k', '$75k to $100k', '$100k to $125k', '$125k to $150k', '$150k to $200k', '$200k+', 'State code', 'district number']
df.columns = cols

In [30]:
ax = df.plot.hist(column=["Total Households"], by="District Name", figsize=(10, 8))

TypeError: no numeric data to plot